@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    background: hsl(0, 0%, 81%);
}

#main .main1{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 35vh;
    margin-top: 15vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

#main .main1 h3{
    color:hsl(179, 62%, 43%);
    padding-top: 5vh;
    padding-left: 3vw;
    padding-bottom: 4vh;
    font-size: 1.5rem;
    font-weight: 700;
}

#main .main1 .p-1{
    color:  hsl(71, 73%, 54%);
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 3vw;
    padding-bottom: 3vh;
}

#main .main1 .p-2{
    width: 40vw;
    margin-left: 3vw;
    line-height: 4vh;
    color: hsl(218, 22%, 67%);
}

#main-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 25vw;
}

#main-grid .grid1{
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 2vh;
    height: 35vh;
}

#main-grid .grid1 h4{
    color: hsl(0, 0%, 100%);
    padding-top: 4vh;
    padding-left: 3vw;
    font-size: 1.3rem;
    font-weight: 400;
}

#main-grid .grid1 .p-1{
    display: inline-block;
    color:hsl(0, 0%, 100%);
    font-size: 1.8rem;
    padding-left: 3vw;
    padding-top: 2vh;
}

#main-grid .grid1 .p-2{
    display: inline-block;
    position: relative;
    top: -1vh;
    left: 0.7vw;
    font-size: 0.9rem;
    color: hsl(204, 43%, 93%); 
}

#main-grid .grid1 .p-3{
    color:hsl(0, 0%, 100%);
    padding-top: 2vh;
    padding-left: 3vw;
}

#main-grid .grid1 button{
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 1vh;
    width: 17.4vw;
    height: 6vh;
    background-color:hsl(71, 73%, 54%);
    color:hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 3vw;
    margin-top: 4vh;
    box-shadow: 0vw 0.5vh 8px rgba(0, 0, 0, 0.5);
}

#main-grid .grid2{
    background-color: hsl(179, 56%, 48%);
    border-bottom-right-radius: 2vh;
    height: 35vh;
}

#main-grid .grid2 h4{
    color:hsl(0, 0%, 100%);
    font-size: 1.3rem;
    padding-top: 4vh;
    padding-left: 3vw;
}

#main-grid .grid2 .p-1{
    color: hsla(0, 21%, 88%, 0.97);
    width: 29vh;
    font-size: 0.9rem;
    line-height: 3vh;
    margin-left: 3vw;
    margin-top: 3vh;
}

/* Screen size of 375px */

@media (max-width: 375px){
    body{
        height: 168vh;
    }

    #main .main1{
        border-top-left-radius: 1vh;
        border-top-right-radius: 1vh;
        margin: 10vh 8vw;
        width: 86vw;
        height: 70vh;
    }

    #main .main1 h3{
        padding-left: 5vw;
    }

    #main .main1 .p-1{
        padding-top: 1.5vh;
        padding-left: 5vw;
    }

    #main .main1 .p-2{
        padding-top: 3vh;
        padding-left: 5vw;
        width: 80vw;
        line-height: 5vh;
    }

    #main-grid .grid1{
        border-bottom-left-radius: 0vh;
        position: relative;
        top: -20vh;
        left: -25vw;
        width: 86vw;
        height: 45vh;
        margin: 10vh 8vw;
    }

    #main-grid .grid1 h4{
        padding-left: 5vw;
        padding-top: 5vh;
    }

    #main-grid .grid1 .p-1{
        padding-top: 4vh;
        padding-left: 5vw;
    }

    #main-grid .grid1 .p-3{
        margin-top: 0.6vh;
        padding-left: 5vw;
    }

    #main-grid .grid1 button{
        width: 70vw;
        height: 9vh;
        margin: 5vh 8vw;
    }

    #main-grid .grid2{
        border-bottom-left-radius: 2vh;
        position: relative;
        top: 35vh;
        left: -41.9vw;
        width: 86.1vw;
        height: 45vh;
    }

    #main-grid .grid2 h4{
        padding-top: 5vh;
        padding-left: 5vw;
    }

    #main-grid .grid2 .p-1{
        width: 47vw;
        margin-top: 3vh;
        margin-left: 5vw;
        line-height: 4vh;
    }
}

/* Screen size of 425 */

/* @media (max-width: 425px){
    #main .main1{
        width: 80vw;
        height: 56vh;
        margin: 10vh 10vw;
    }

    #main .main1 h3{
        padding-left: 5vw;
    }

    #main .main1 .p-1{
        padding-top: 1vh;
        padding-left: 5vw;
    }

    #main .main1 .p-2{
        margin-top: 3vh;
        padding-left: 1vw;
        width: 76vw;
        line-height: 5vh;
    }

    #main-grid .grid1{
        width: 80vw;
        height: 45vh;
        position: relative;
        top: -10vh;
        left: -15vw;
        border-bottom-left-radius: 0vh;
    }

    #main-grid .grid1 h4{
        padding-left: 5vw;
    }

    #main-grid .grid1 .p-1{
        margin-top: 3vh;
        padding-left: 5vw;
    }

    #main-grid .grid1 .p-3{
        margin-top: 1vh;
        padding-left: 5vw;
    }

    #main-grid .grid1 button{
        width: 70vw;
        height: 9vh;
        margin: 5vh 5vw;
    }

    #main-grid .grid2{
        border-bottom-left-radius: 2vh;
        height: 45vh;
        width: 80vw;
        position: relative;
        top: 35vh;
        left: -40vw;
    }

    #main-grid .grid2 h4{
        padding-top: 5vh;
        padding-left: 5vw;
    }

    #main-grid .grid2 .p-1{
        margin-top: 3vh;
        margin-left: 5vw;
        width: 50vw;
        line-height: 4vh;
    }
} */


/* Sorry, But i'm trying find out how to add two or more media query */